language: php
php:
  - 7.4
env:
  matrix:
    - COMPOSER_FLAGS="--prefer-lowest"
    - COMPOSER_FLAGS=""

before_script:
  - travis_retry composer self-update
  - travis_retry composer update ${COMPOSER_FLAGS} --no-interaction --prefer-source

script:
  - vendor/bin/phpunit -c phpunit.xml --coverage-text --coverage-clover=coverage.clover
  - vendor/bin/phpstan analyse src tests --level 8

after_script:
  - php vendor/bin/ocular code-coverage:upload --format=php-clover coverage.clover
